## Default values for helm-chart.
## This is a YAML-formatted file.
## Declare variables to be passed into your templates.
#
global:
  profile: ""

operator:
  name: operator-service 
  image: to_replace
  initImage: to_replace
  podName: cassandra-operator
  priorityClassName:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
  nodeLabels:
# PV recycler settings
recycler:
  install: false
  resources:
    limits:
      memory: 128Mi
      cpu: 100m
    requests:
      memory: 128Mi
      cpu: 100m

# Specifies delay before CR processing
crProcessingDelaySeconds: 10

# Specifies timeouts for resources operations
waitTimeout: 3600
gocqlConnectTimeout: 20
deletePVConUninstall: false
gocqlTimeout: 20

ipV6: false
stopOnFailedResourceUpdate: false
# Specifies log level of operator pod
debugLog: false
serviceAccountName: cassandra-operator
securityContext:
  fsGroup: 999
  runAsUser: 999
  runAsGroup: 1001
  supplementalGroups:

# Specifies image pull policy
imagePullPolicy: IfNotPresent

createIngress: false

publicCloud:

# tolerations Example
# policies:
#   tolerations:
#   - key: "key"
#     operator: "Equal"
#     value: "value"
#     effect: "NoSchedule"


reaper:
  install: false
  username: admin
  password: admin
  #port: 8443
  secretName: cassandra-reaper-secret.v1
  truststoreSecretName: cassandra-truststore-reaper-secret
  truststorePassword: reaper_password
  dockerImage: to_replace
  ingressHost:
  envs:
  # Additional Env variables for docker container from https://hub.docker.com/r/thelastpickle/cassandra-reaper/
  # for example
  #  envs:
  #    REAPER_REPAIR_RUN_THREADS: 10
  #    REAPER_REPAIR_PARALELLISM: SEQUENTIAL
  resources:
    requests:
      cpu: 150m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 2Gi
tls:
  enabled: false
  optional: false
  rootCASecretName: root-ca
  rootCAFileName: ca.crt
  privateKeyFileName: tls.key
  signedCRTFileName: tls.crt
  keystorePass: cassandra
  generateSelfSignedCRTSecret: false
  generateCerts:
    enabled: false
    clusterIssuerName: ""
    duration: 365
    subjectAlternativeName:
      additionalDnsNames: [ ]
      additionalIpAddresses: [ ]
  certificates:
    tls_key: 
    tls_crt: 
    ca_crt: 

cassandra:
  install: true
  hostNetwork: false
  pdb: false
  auditLogEnabled: false
  # Mandatory docker image link
  dockerImage: to_replace

  priorityClassName:
  # Keyspace Name
  smoketestKeyspace: smoke_test
  # Credentials
  username: admin
  password: admin
  secretName: cassandra-secret.v1
  envs:
  # Additional Env variables for docker container
  # for example
  #  envs:
  #    PRERESOLVE_SEEDS: true

  # allows to select one of 3 flavors of parameters: small, medium, large.
  # will override cassandra resources defined below
  # flavor: small

  # Cassandra resources
  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 500m
      memory: 2Gi

  deploymentSchema:
    dataCenters:
      - name: dc1
        replicas: 3
        seeds: 2
        storage:
          size: 5Gi

    #   clusterDomain: cluster.local
    #   replicas: 3
    #   seeds: 2
    #   storage:

    #     Requested size of volume
    #     size: 5Gi

    #     List of PV names
    #     Example:
    #     volumes:
    #       - volume-1
    #       - volume-2
    #       - volume-3
    #     List of key-value maps.
    #     Should be set as different maps to apply it for each replica differently.
    #     To set node name, use kubernetes.io/hostname label
    #     Example:
    #     nodeLabels:
    #       - "kubernetes.io/hostname": node-1
    #         first-additional-selector: first-additional-value
    #       - second-selector: second-value
    #       - third-selector: third-value

    #     Or as list of one map, in case of autoprovision
    #     Example:
    #     nodeLabels:
    #       - common-selector: common-value

    #     List of volumes' storage classes.
    #     Could be set as list of classes to apply it for each PVC differently
    #     Example:
    #     storageClasses:
    #       - class-1
    #       - class-2
    #       - class-3

    #     Or as list of one value, to apply same class for each PVC
    #     Example:
    #     storageClasses:
    #       - ""

    #     List of key-value maps.
    #     Could be set as different maps to apply it for each PVC differently
    #     Example:
    #     matchLabelSelectors:
    #       - first-selector: first-value
    #         first-additional-selector: first-additional-value
    #       - second-selector: second-value
    #       - third-selector: third-value

    #     Or as list of one map, to apply same labels for each PVC
    #     Example:
    #     matchLabelSelectors:
    #       - common-selector: common-value
    #   broadcastAddress:
    #     -
    #     -
    #     -
    #   listenAddress:
    #     -
    #     -
    #     -
    #   rpcBroadcastAddress:
    #     -
    #     -
    #     -
    #   rpcListenAddress:
    #     -
    #     -
    #     -
    #   externalAddress:
    #     - ext1
    #     - ext2
    #     - ext3
    #   internalAddress:
    #     - int1
    #     - int2
    #     - int3
  # Custom Cassandra configuration
  configuration: |-

  jvm_options: |-

  cassandra_env: |-


vaultRegistration:
  tokenSecretName: vault-secret
  dockerImage: to_replace
  enabled: false
  path: kv
  url:
  role: cassandra-role
  method: kubernetes
  rotationPeriod: 86400
  initContainerResources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 20m
      memory: 64Mi

vaultDBEngine:
  name: cassandra-db-engine
  enabled: false
  pluginName: cassandra-database-plugin
  protocolVersion: 4
  allowedRoles: nc*
  connectTimeout: 10s

SERVICE_NAME: "cassandra"
PART_OF: "cassandra"
DELIMITER: "-"
ARTIFACT_DESCRIPTOR_VERSION: "" # TO_BE_REPLACED
MANAGED_BY: "operator"

serviceAccount:
  create: true
