{{ $params := dict "isInternal" true }}
{{ $params = set $params "vltEnabled" .Values.vaultRegistration.enabled }}
{{ $params = set $params "secret" .Values.cassandra }}
{{ $params = set $params "userEnv" .Values.INFRA_CASSANDRA_USERNAME }}
{{ $params = set $params "passEnv" .Values.INFRA_CASSANDRA_PASSWORD }}
{{- if .Values.vaultRegistration.enabled }}
  {{ $params = set $params "vltPath" (printf "database/static-creds/nc-%s_%s_%s_%s#password" .Values.CLOUD_PUBLIC_HOST .Release.Namespace .Values.serviceAccountName .Values.cassandra.username ) }}
{{ else }}
  {{ $params = set $params "vltPath" .Values.vaultRegistration.path }}
{{ end }}
{{ template "nosql.core.secret.vault.fromEnv" $params }}
